<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>みんなの日本語</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Lección {{ MinnaData._mnnData.leccion }}</h3>
  <div class="patronOracion">
    <h4>
      Patrones de oraciones
    </h4>
    <div>
      <ion-segment [(ngModel)]="patronIdioma" >
        <ion-segment-button value="Japones">
          Japonés
        </ion-segment-button>
        <ion-segment-button value="Espanol">
          Español
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="patronIdioma">
      <ion-list *ngSwitchCase="'Japones'" >
        <ion-item *ngFor = "let leccion of MinnaData._patron.oraciones">
          <h3 [innerHTML]="leccion.patron"></h3>
        </ion-item>
      </ion-list>
    </div>
    <div [ngSwitch]="patronIdioma">
      <ion-list *ngSwitchCase="'Espanol'" >
        <ion-item *ngFor = "let leccion of MinnaData._patron.oraciones">
          <h3 [innerHTML]="leccion.espanol"></h3>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="ejemplosOraciones">
      <h4>
        Oraciones de ejemplo
      </h4>
      <div>
        <ion-segment [(ngModel)]="ejemploIdioma" >
          <ion-segment-button value="Japones">
            Japonés
          </ion-segment-button>
          <ion-segment-button value="Espanol">
            Español
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="ejemploIdioma">
        <ion-list *ngSwitchCase="'Japones'" >
          <ion-item *ngFor = "let ejemplo of MinnaData._patron.ejemplos">
            <h3 [innerHTML]="ejemplo.pregunta"></h3>
            <h3 [innerHTML]="ejemplo.respuesta"></h3>
          </ion-item>
        </ion-list>
      </div>
      <div [ngSwitch]="ejemploIdioma">
        <ion-list *ngSwitchCase="'Espanol'" >
          <ion-item *ngFor = "let ejemplo of MinnaData._patron.ejemplos">
            <h3 [innerHTML]="ejemplo.preguntaEsp"></h3>
            <h3 [innerHTML]="ejemplo.respuestaEsp"></h3>
          </ion-item>
        </ion-list>
      </div>
    </div>
    
</ion-content>
