page-lesson {
    ruby{
        font-size: 1.5rem;
        rt{
            font-size: 1rem;
        }
    }
    .patronOracion{
        ion-list{
            ion-item{
                h3{
                    overflow: inherit ;
                    text-overflow: inherit ;
                    white-space: normal;
                }
            }
        }
    }
}
